//colors variables
$primary-color: #5fcac7;
$secondary-color: #ff91a4;
$white-color:#fff;
$black-color:#4b4342;
$bg-color:#a77180;

//fonts variables
$heading-font:'Merienda', cursive;
$paragraph-font:'Quicksand', sans-serif;
$banner-font:'Leckerli One', cursive;

//width variables
$wd-100:100%;

//animation variables
$anime-transtion:all 0.5 ease;